<% include ./partials/header.ejs %>
<div class="container" id="textColor">
    <h1>Shopping list:</h1>
    <a class="btn btn-info" href="/new">Want to add an item?</a>

    <div>
        <table id="textColor" class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Date Posted</th>
                    <th></th>
                    <th></th>
                 </tr>
            </thead>
                <tbody>
                <% itemFound.forEach(function(item){ %>
                    <% var cartItem = item.item.charAt(0).toUpperCase() + item.item.slice(1) %>
                    <tr>
                        <td>
                            <li><%= cartItem %></li>
                        </td>
                        <td>
                            <h4>$<%= item.price %></h4>
                        </td>
                        <td>
                            <p>Created: <%= item.created.toDateString() %></p>
                        </td>
                            <!-- form action needs to be equal to first parameter
                                in router: EX: router.delete("/:id", items.deletePost); -->
                        <td>
                            <form action="/<%= item.id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        
                            <a id="textColor" href="/<%= item.id %>/edit">Edit <%= item.item %></a>
                        </td>
                    </tr>
                <% }) %>  
                </tbody>
        </table>
    </div>
    
    
</div>

<% include ./partials/footer.ejs %>